body{
    background-color: aquamarine;
}
img{
    width: 150px;
    height: 150px;
}
form{
    border: 3px solid brown;
    margin-left: 30%;
    padding: 10px;
    width: 40%;
    background-color: lightseagreen;
}
input{
    width: 180px;
}
input[type="text"]{
    margin-left: 55px;
}
input[type="password"]{
    margin-left: 33px;
}

.container1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
pre{
    text-align: left;
}
a{
    text-decoration: none;
    background-color: lightseagreen;
    color: darkmagenta;
    margin-left: 40%;
    border: 3px solid brown;
    border-radius: 5px;
    padding: 5px;
}
a:hover{
    background-color: darkmagenta;
    color: lightseagreen;
}